@import "variables";

.form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  form {
    max-width: 500px;
    width: 90%;
    //background-color: $form-bg-color;
    padding: 40px;
    border-radius: 4px;
    left: 50%;
    //color: $form-text-color;

    .form-control-checkbox {
      margin: 10px;
    }
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: silver;
  //font-style: italic;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: $form-control-background-color;
}
